
<mat-toolbar color="primary">
    <a href="https://github.com/ardome21" target="_blank" rel="noopener noreferrer"><img src='../assets/GitHub_Logo.jpg' style="margin-top: .8em;height:30px; width: auto"/></a>
    <div class="padding"></div>
    <a href="https://github.com/ardome21" target="_blank" rel="noopener noreferrer"><img src="../assets/github.jpg" alt="Github Logo Icon" style="margin-top: .6em; height:30px; width: auto"></a>
    <div class="padding"></div>
    <div class="spacer"></div>
    <span class='center'>
        Antonio's Website
        <span class="br1"></span>
        <span style="font-size:xx-small">Developed and maintained by Antonio Dominguez</span>
    </span>
    <div class="spacer"></div>
    <a style="text-decoration: none; color: white;"routerLink="aboutMe">
        <span style="font-size:xx-small">
            Direct any questions concerning
            <span class="br2"></span>
            to Antonio Dominguez
        </span>
    </a>
</mat-toolbar>
