.center {
    flex: 1 auto;
    margin-top: .5em;
    text-align: center;
}
.padding {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}
.spacer {
    flex: 1 1 auto;
}
.br1 {
    display: block;
    margin-bottom: -.8em;
}
.br2 {
    display: block;
    margin-bottom: -2.5em;
}